<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 200px;
            height: 150px;
        }
    </style>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <p>
        <label for="title">TItle:</label>
        <input type="text" id="title" name="title" value="{{data.title}}">
        </p>
        <p>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="{{data.author}}">
        </p>
        <label for="textarea">textarea</label>
        <textarea name="textarea" id="textarea" cols="30" rows="10" ></textarea>
        <label for="photo">photo</label>
        <input type="file" name="photo" id="photo">

        <img src={{data.photo.url}} alt="">
        <input type="submit" value="update">
    </form>
</body>
</html>